
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.App{
  position: relative;
  overflow: clip;
} 

.App>:nth-child(1){
  background: var(--black);
  position:relative;
}

 .white-gradient{
  position: absolute;
  width: 90rem;
  height: 10rem;
  background: black;
  filter:blur(100px);
  
}