/* Base styles */

.p-container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .professional-message {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }
  
  .property-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .property {
    width: 30%;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .professional-text {
    color: #666;
  }

  .customCardContainer {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* Add any additional styles for the inner card container if needed */
  .customCardContainer .flexColStart {
    /* Additional styles for the inner card container */
  }
  
  
  /* Responsive styles */
  
  @media only screen and (max-width: 768px) {
    .property {
      width: 45%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .property {
      width: 100%;
    }
  }
  
 